#wrap{
    width: 1300px;
    margin: 0 auto;
    padding: 0 auto;
}
#row1{
    width: 1300px;
    height: 150px;
    background-color: aqua;
    text-align: center;
    }
#row2{
    width: 900px;
    height: 350px;
    margin: 0 auto;
    padding: 0 auto;
    
}
 #row2c1{
    width: 500px;
    height: 350px;
       background-color: blue;
       float: left;
}
#row2c2{
    width:300px ;
    height: 500px;
    background-color: yellow;
    float: right;
}   
    
    
    
} 